/* This code removes added browser stylings*/
html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Header CSS
* Content:
*     This holds the site logo
*/

header {
    grid-area: header;
    background-color: #333;
    height: 150px;
}

#logo {
    max-height: 150px;
}

/* Navigation Bar CSS
* Content:
*     This holds the links for Projects, Leadership and Tutorials.
*/

nav {
    grid-area: nav;
    height 100px;
    font-family: 'Fjalla One', sans-serif;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    font-size: 28px;

    list-style: none;
    justify-items: center;
    padding: 0;
}

nav ul li a {
    /*Sets the color of the nav links, turns off underlining for the links*/
    color: #333;
    text-decoration: none;
}

/* Footer CSS
* Content:
*     This holds the footer information
*/

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    font: 14px;
}

/* Template Page CSS
* Content:
*     Header, nav, footer
* Comment:
*     Other pages should use a similar set up, with a different grid layout
*     applied on their body depending on their content needs.
*/
#template-page {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
        "nav"
        "footer";
}

/* Home Page CSS
 * Content:
 *     Header, nav, a carousel for events/activities/projects, and a motto
 * Comment:
 *     Other pages should use a similar set up, with a different grid layout
 *     applied on their body depending on their content needs.
*/
#home-page {
    display: grid;
    grid-template-rows: 10% 10% 20% 50% 10%;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "nav"
                         "carousel"
                         "motto"
                         "footer";
}

#carousel {
    grid-area: carousel;
    background-color: gainsboro;
    height: 400px;
    margin: 0% 10%;
    margin-bottom: 5%;
}

#motto {
    grid-area: motto;
    background-color: #8CC63F;
    height: 200px;
}
